/*使浏览器默认的元素padding和margin值均归零*/
*{
margin:0px;
padding:0px;
}
  
body{
background:url(background.jpg) fixed;
background-size:100% 100%;
position:fixed;
top:25%;
left:25%;
padding:100px;
font-family:verdana;
} 
                                
#loginform
{
width:500px;
height:auto;/*默认，浏览器会计算出实际的高度*/
position:relative;/*生成相对定位的元素，相对于其正常位置进行定位*/
margin:0 auto;
}

.in
{
display:block;/*生出行内框,block显示为块级元素*/
margin:0px auto 15px;
border-radius:5px;
background: #333333;
width:85%;
padding:12px 20px 12px 10px;
border:none;
color:#929999;                       
box-shadow:inset 0px 1px 5px #272727;
font-size:0.8em;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease; 
}

.in:focus
{
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;  
box-shadow: 0px 0px 5px 1px #161718;
}

.button
{
background: #ff5f32;
border-radius:50%;
border:10px solid #222526;
font-size:0.9em;
color:#fff;
font-weight:bold;
cursor:pointer;
width:85px;
height:85px;
position:absolute;
right: -42px;
top: 54px;
text-align:center;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.button:hover
{
background:#222526;
border-color:#ff5f32;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}
  
*:focus{outline:none;}
::-webkit-input-placeholder {
color:#929999;
}

:-moz-placeholder { /* Firefox 18- */
color:#929999; 
}

::-moz-placeholder {  /* Firefox 19+ */
color:#929999;  
}

:-ms-input-placeholder {  
color:#929999; 
}

h1
{
text-align:center;
color:#fff;
font-size:13px;
padding:12px 0px;
letter-spacing:10px;
}

.note
{
position:absolute;
top:180px;
color:#88887a;
font-size: 0.8em;
text-align:left;
padding-left:5px;
}

.remember_me
{
position:absolute;
left:200px;
top:186px;
cursor:pointer;
box-shadow: 0px 0px 0px 0px #fff18f;
}

.remember_me:hover
{
box-shadow:0px 0px 2px 2px #fff18f;        
}

.remember_me_p
{
color:#fff;
font-size:0.8em;
position:absolute;
left:215px;
top:182px;
}

#register
{
text-align:center;
float:left;
background:#365195;
padding:35px 10px 20px 10px;
width:170px;
height:155px; 
border-radius:3px;
cursor:pointer;
box-shadow: 0px 0px 10px 2px #161718; 
margin-right:10px;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
font-family: verdana;
font-size: 50px;
color: #fff;
font-weight: bold;
}

#register:hover
{
box-shadow: 0px 0px 0px 0px #161718;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.message
{
font-family:verdana;
font-size:0.8em;
font-weight:bold;
color:#fff;
text-align:left;
padding-left:5px;
}

a
{
color:#88887a;
text-decoration:none;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

a:hover
{
color:#fff;
margin-left:0px;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

#mainlogin
{
float:left;
width:250px;
height:190px;
padding:10px 15px;
position:relative;
background:#555555;
border-radius:3px;
}

#connect
{
font-weight: bold;
color: #fff;
font-size: 50px;
text-align: center;
font-family: verdana;
padding-top:10px;
}

#or
{
position:absolute; /*定位or元素*/
left: -25px;
top: 30px;
background:#222222;
text-shadow:0 2px 0px #121212;
color:#999999;
width:40px;
height:40px;
text-align:center;
border-radius:50%;
font-weight:bold;
line-height:38px;
font-size: 13px;
}
