<ul class="list-group" style="margin-top:30px">
    {% for comment in comments %}
    <li class="list-group-item">
        <div class="comment-mation">
            <p>
            <a href="{{ url_for('.user', username=comment.author.username) }}">
                {% if comment.author.real_avatar %}
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.real_avatar }}" width="2%" height="2%">
                {% else %}
                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=20) }}">
                {% endif %}
            </a>
            <small><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}&emsp;</a></small>
            <small>评论时间：{{ moment(comment.timestamp).fromNow() }}</small>
            <p>
        </div>
        <div class="comment-body">
                {% if comment.disabled %}
                <p><i>This comment has been disabled by a moderator.</i></p>
                {% endif %}
                {% if moderate or not comment.disabled %}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                {% endif %}
        </div>
            {% if moderate %}
                <br>
                {% if comment.disabled %}
                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                {% else %}
                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                {% endif %}
            {% endif %}
    </li>
    {% endfor %}
</ul>
