{% for post in posts %}
    <div class="list-group-item" style="border: 0;">
        <div class="post-content">
            <div class="post-information">
                <a href="{{ url_for('.post',id=post.id) }}" style="text-decoration:none">
                    <h2>{{ post.title }}</h2>
                </a>
                <p>
                    <span class="glyphicon glyphicon-calendar"></span>
                    <small>{{ moment(post.publish_date).fromNow() }}&emsp;</small>
                    <span class="glyphicon glyphicon-user"></span>
                    <small>
                        <a href="{{ url_for('.user', username=post.author.username) }}" style="text-decoration:none">{{ post.author.username }}</a>
                    </small>
                </p>
            </div>
            <div class="post-text">
                {{ post.text|markdown|safe }}
            </div>
            <div class="post-footer" style="text-align:right">
                <form method="POST">
                    <button class="btn btn-primary btn-xs" value="like">喜欢{{ post.likes }}</button>
                </form>
                {% if current_user==post.author %}
                <a href="{{ url_for('.edit_post',id=post.id) }}" style="text-decoration:none">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_post',id=post.id) }}" style="text-decoration:none">
                    <span class="label label-danger">编辑 [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}#comments" style="text-decoration:none">
                    <span class="label label-primary">{{ post.comments.count() }} 条评论</span>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
