<ul class="list-group">
{% for post in posts %}
<li class="list-group-item">
    <div style="border: 0;">
        <div class="post-content">
            <div class="post-information">
                <a href="{{ url_for('.post',id=post.id) }}" style="text-decoration:none">
                    <h4>{{ post.title }}</h4>
                </a>
                <p>
                    <small>发布时间：{{ moment(post.publish_date).fromNow() }}&emsp;</small>
                    <small>
                        作者：<a href="{{ url_for('.user', username=post.author.username) }}" style="text-decoration:none">{{ post.author.username }}</a>
                    </small>
                    <a href="{{ url_for('.user', username=post.author.username) }}">
                        {% if post.author.real_avatar %}
                            <img class="img-circle profile-thumbnail" src="{{ post.author.real_avatar }}" width="3%" height="3%">
                        {% else %}
                            <img class="img-circle profile-thumbnail" src="{{ post.author.gravatar(size=20) }}">
                        {% endif %}
                    </a>
                </p>
            </div>
            <div class="post-text">
                {{ post.text|markdown|safe|truncate(400,True) }}
            </div>
            <div class="post-footer" style="text-align:right">
                {% if current_user==post.author %}
                <a href="{{ url_for('.edit_post',id=post.id) }}" style="text-decoration:none">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_post',id=post.id) }}" style="text-decoration:none">
                    <span class="label label-danger">编辑 [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}#comments" style="text-decoration:none">
                    <span class="label label-primary">{{ post.comments.count() }} 条评论</span>
                </a>
            </div>
        </div>
    </div>
</li>
{% endfor %}
</ul>
